<h1>Children Deatils</h1>
  <tbody>
      <tr>
        <td><p>
          <strong>Name:</strong>
          <%= @home.Children %>
        </p></td>

        <td><p>
          <strong>Aadhar:22200002</strong>

        </p></td>

        <td><p>
          <strong>Dob:13/12/1997</strong>

        </p></td>
      </tbody>
      <%= link_to 'Back', root_path %>
