<h1>Children Deatils</h1>
  <tbody>
      <tr>
        <td><p>
          <strong>Name:</strong>
          <%= @home.Children %>
        </p></td>

        <td><p>
          <strong>Aadhar:</strong>
          <%= @home.Aadhar %>
        </p></td>

        <td><p>
          <strong>Dob:</strong>
          <%= @home.Dob %>
        </p></td>
      </tbody>
      <%= link_to 'Back', root_path %>
