<h1>Father Deatils</h1>
  <tbody>
      <tr>
        <td><p>
          <strong>Name:</strong>
          <%= @home.Father %>
        </p></td>

        <td><p>
          <strong>Aadhar: 1001111</strong>

        </p></td>

        <td><p>
          <strong>Dob: 17/12/1985</strong>

        </p></td>
      </tbody>

      <%= link_to 'Back', root_path %>
