<h1>Mother Deatils</h1>
  <tbody>
      <tr>
        <td><p>
          <strong>Name:</strong>
          <%= @home.Mother %>
        </p></td>

        <td><p>
          <strong>Aadhar:1000022</strong>

        </p></td>

        <td><p>
          <strong>Dob:12/12/1988</strong>

        </p></td>
      </tbody>
      <%= link_to 'Back', root_path %>
